<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.keem.boot3.board.BoardMapper">

	<select id="getFileList" resultType="BoardFilesVO">
		SELECT * FROM BOARDFILES
	</select>

	<select id="getFileDetail" parameterType="BoardFilesVO" resultType="BoardFilesVO">
		SELECT * FROM BOARDFILES WHERE FILENUM=#{fileNum}
	</select>
	
	<insert id="setFileAdd" parameterType="BoardFilesVO">
		INSERT INTO BOARDFILES (FILENUM, NUM, FILENAME, ORINAME)
		VALUES(NULL,#{num}, #{fileName},#{oriName})
	</insert>
	
	<delete id="setFileDelete" parameterType="BoardFilesVO">
		DELETE FROM BOARDFILES WHERE NUM=#{num}
	</delete>


	<select id="getDetail" parameterType="BoardVO" resultMap="detailResult">
		SELECT B.*,BF.* FROM BOARD B 
		LEFT OUTER JOIN 
		BOARDFILES BF USING(NUM) 
		WHERE NUM=#{num}
	</select>
	
	<resultMap type="BoardVO" id="detailResult">
			<id column="num" property="num"/>
			<result column="title" property="title"/>
			<result column="contents" property="contents"/>
			<result column="writer" property="writer"/>
			<result column="regDate" property="regDate"/>
			<result column="hit" property="hit"/>
			<result column="ref" property="ref"/>
			<result column="step" property="step"/>
			<result column="depth" property="depth"/>
			<result column="category" property="category"/>
		<collection property="filesVO" javaType="java.util.List" ofType="BoardFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
	<select id="getList" parameterType="Pager" resultType="BoardVO">
		SELECT * FROM BOARD 
		WHERE NUM>0 
		AND
		<choose>
			<when test="kind=='col1'">
				CONTENTS
			</when>
			<when test="kind =='col2'">
				TITLE
			</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>
		LIKE CONCAT('%',#{search},'%')
		ORDER BY NUM DESC
		LIMIT #{startRow},#{perPage}
	</select>
	<select id="total" resultType="Integer" parameterType="Pager">
		SELECT COUNT(NUM) FROM BOARD 
		WHERE NUM>0 
		AND
		<choose>
			<when test="kind=='col1'">
				CONTENTS
			</when>
			<when test="kind =='col2'">
				TITLE
			</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>
		LIKE CONCAT('%',#{search},'%')
	</select>
	<insert id="setAdd" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO BOARD (NUM,TITLE, WRITER, CONTENTS, HIT, REGDATE,REF,STEP,DEPTH,CATEGORY)
		VALUES(#{num},#{title},#{writer},#{contents},0,NOW(),0,0,0,1)
	</insert>
	
	<update id="setUpdate" parameterType="BoardVO">
		UPDATE BOARD SET TITLE=#{title},CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardVO">
		DELETE FROM BOARD WHERE NUM=#{num}
	</delete>
</mapper>