<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keem.boot3.member.MemberMapper">

	<select id="detailFile" parameterType="MemberFilesVO" resultType="MemberFilesVO">
		SELECT * FROM MEMBERFILES WHERE FILENUM=#{fileNum}
	</select>

	<insert id="addFile" parameterType="MemberFilesVO">
		INSERT INTO MEMBERFILES(FILENUM,ID,FILENAME,ORINAME)
		VALUES(NULL,#{id},#{fileName},#{oriName})
	</insert>
	
	<select id="login" parameterType="MemberVO" resultMap="getLoginResult">
		SELECT ID,M.NAME,R.ROLENAME
			FROM 
				MEMBER M
				INNER JOIN 
				MEMBERROLE MR 
				USING (ID)
				INNER JOIN 
				ROLE R 
				USING (ROLEID)
			WHERE ID=#{id} AND M.PW=#{pw}
	</select>
	<resultMap type="MemberVO" id="getLoginResult">
	<id column="id" property="id"/>
	<result column="NAME" property="name"/>
	<collection property="roleVOs" javaType="List" ofType="RoleVO">
	<result column="ROLENAME" property="roleName"/>
	</collection>
	</resultMap>
	
	<select id="setRoleAdd" parameterType="Map">
		INSERT INTO MEMBERROLE (ID,ROLEID)
		VALUES (#{id},(SELECT ROLEID FROM ROLE WHERE ROLENAME=#{roleName}))
	</select>
	
	<insert id="join" parameterType="MemberVO">
		INSERT INTO MEMBER(ID,PW,NAME,EMAIL,PHONE)
		VALUES(#{id},#{pw},#{name},#{email},#{phone})
	</insert>
    
    <update id="infoUpdate" parameterType="MemberVO">
    	UPDATE MEMBER SET NAME=#{name},EMAIL=#{email},PHONE=#{phone} WHERE ID=#{id}
    </update>
    
    <select id="mypage" parameterType="MemberVO" resultMap="mypageResult">
    	SELECT ID,M.NAME,M.EMAIL,M.PHONE,MF.FILENUM,MF.FILENAME,MF.ORINAME
    		FROM MEMBER M 
    			LEFT OUTER JOIN 
    				MEMBERFILES MF
    					USING(ID)
    		WHERE ID=#{id}
    </select>
    
    <resultMap type="MemberVO" id="mypageResult">
    	<id column="id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="email" property="email"/>
    	<result column="phone" property="phone"/>
    	<association property="memberFilesVO" javaType="MemberFilesVO">
	    	<id column="fileNum" property="fileNum"/>
	    	<result column="fileName" property="fileName"/>
	    	<result column="oriName" property="oriName"/>
    	</association>
    </resultMap>
    
    <delete id="delete" parameterType="MemberVO">
    	DELETE FROM MEMBER WHERE ID=#{id}
    </delete>
    
</mapper>
